[mysqld]
# 기본 설정
server-id=1
log-bin=mysql-bin
binlog-format=ROW
gtid-mode=ON
enforce-gtid-consistency=ON

# Replication 설정
sync_binlog=1
binlog_expire_logs_seconds=864000

# 문자셋 설정
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci

[client]
default-character-set=utf8mb4
