[mysqld]
# 기본 설정
server-id=2
relay-log=relay-log
log-bin=mysql-bin
binlog-format=ROW
gtid-mode=ON
enforce-gtid-consistency=ON

# Slave 설정
skip-slave-start
read_only=ON
super_read_only=ON

# 문자셋 설정
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci

[client]
default-character-set=utf8mb4
